<section class="contenido">
    <div class="login">
        <form action="" class="formulario">
            <div class="logo">
                <h1>Contact</h1>
            </div>
            <div class="inputs">
                <div class="input">
                    <div class="color"></div>
                    <div class="password">
                        <input type="text" placeholder="Email">
                    </div>
                </div>
                <div class="input">
                    <div class="color"></div>
                    <textarea name="textarea" rows="10" cols="50" placeholder="Tu mensaje aquí"></textarea>
                </div>
            </div>
            
            <button type="button">Enviar</button>
        </form>
        <div class="aside">
            <div class="info">
                <P>Yonier Garcia Mosquera</P>
                <h1>WELCOME BACK</h1>
                <hr>
            </div>
            <img src="../../../assets/images/aside/aside.jpg" title="Fondo Aside" alt="Aside">
        </div>
    </div>
</section>
