<section class="contenido">
    <div class="login">
        <form action="" class="formulario">
            <div class="logo">
                <h1>¡Saludame!</h1>
            </div>
            <div class="inputs">
                <div class="input">
                    <div class="color"></div>
                    <div class="password">
                        <input type="text" placeholder="Email">
                    </div>
                </div>
                <div class="input">
                    <div class="color"></div>
                    <textarea name="textarea" rows="10" cols="50" placeholder="Tu mensaje aquí"></textarea>
                </div>
            </div>
            
            <button type="button" (click)="contact()">Enviar</button>
        </form>
        <div class="aside">

            <img src="../../../assets/images/aside/undraw_Personal_email_re_4lx7.png" title="Fondo Aside" alt="Aside">

        </div>
    </div>
</section>
