<section class="proyectos">
    <div class="cards">
        <div class="card" (mouseleave)="quitarInfo1()" (mouseover)="mostrarInfo1()">
            <img src="./../../../assets/images/proyectos/Login-Desktop-2.png" alt="" >
        </div>
        <div class="card" (mouseleave)="quitarInfo2()" (mouseover)="mostrarInfo2()">
            <img src="./../../../assets/images/proyectos/Rick.png" alt="">
        </div>
        <div class="card" (mouseleave)="quitarInfo3()" (mouseover)="mostrarInfo3()">
            <img src="./../../../assets/images/proyectos/unsplash.png" alt="">
        </div>
    </div>
</section>
