<section class="proyectos">
    <div class="cards">

        <div class="proyecto">
            <div class="card" (mouseleave)="quitarInfo1()" (mouseover)="mostrarInfo1()">
                <img src="./../../../assets/images/proyectos/Login-Desktop-2.png" alt="" >
            </div>
            <div class="github">
                <a href="https://github.com/YonierGM/corporateLogin" target="_blank" class="github-item">
                    <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
                </a>
            </div>
        </div>


        <div class="proyecto">
            <div class="card" (mouseleave)="quitarInfo1()" (mouseover)="mostrarInfo1()">
                <img src="./../../../assets/images/proyectos/Rick.png" alt="">
            </div>
            <div class="github">
                <a href="https://github.com/YonierGM/New-Rick-and-Morty" target="_blank" class="github-item">
                    <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
                </a>
            </div>
        </div>


        <div class="proyecto">
            <div class="card" (mouseleave)="quitarInfo1()" (mouseover)="mostrarInfo1()">
                <img src="./../../../assets/images/proyectos/unsplash.png" alt="">
            </div>
            <div class="github">
                <a href="https://github.com/YonierGM/api-unsplash" target="_blank" class="github-item">
                    <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
                </a>
            </div>
        </div>
    </div>
</section>
