<section class="proyectos">
    <div class="cards">

        <div class="proyecto">
            <div class="card">
                <img src="./../../../assets/images/proyectos/Login-Desktop-2.png" alt="" >
            </div>
            <div class="github">
                <a href="https://github.com/YonierGM/corporateLogin" target="_blank" class="github-item">
                    <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
                </a>
            </div>
        </div>

        <div class="proyecto">
            <div class="card">
                <img src="https://github.com/YonierGM/imagenes-proyecto/blob/master/TasksApp-images/Minimalist%20Website%20Launch%20Computer%20Mockup%20Instagram%20Post%20(1920%20x%201080%20px).png?raw=true" alt="imagen proyecto">
            </div>
            <div class="github">
                <a href="https://github.com/YonierGM/clienteTasksApp" target="_blank" class="github-item">
                    <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
                </a>
            </div>
        </div>


        <div class="proyecto">
            <div class="card">
                <img src="./../../../assets/images/proyectos/Rick.png" alt="">
            </div>
            <div class="github">
                <a href="https://github.com/YonierGM/New-Rick-and-Morty" target="_blank" class="github-item">
                    <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
                </a>
            </div>
        </div>


        <div class="proyecto">
            <div class="card">
                <img src="./../../../assets/images/proyectos/unsplash.png" alt="">
            </div>
            <div class="github">
                <a href="https://github.com/YonierGM/api-unsplash" target="_blank" class="github-item">
                    <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
                </a>
            </div>
        </div>
    </div>
</section>
