<section class="main-content">

    <div class="presentacion">
        <div class="info">
            <div class="foto">
                <div class="contenido">
                    <img src="./../../../assets/images/foto.jpg" alt="Foto Perfil" title="YonierGM">
                </div>
                <div class="nombre">
                    <h1>Yonier Garc&iacute;a</h1>
                    <p class="profesion">Desarrollador Web</p>
                </div>
            </div>
            <p class="descripcion">
                Hola, soy Yonier, ingeniero de sistemas y desarrollador web con habilidades para integrar funcionalidades y brindar soluciones desde el lado del cliente y del servidor (frontend - backend). Para la creación y gestión de aplicaciones y servicios web.
            </p>

            <div class="acciones">
                <a href="https://github.com/YonierGM" target="_blank">
                    <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
                </a>

                <a  href="https://www.linkedin.com/in/yonier-garcia-mosquera-85a0b72a9/" target="_blank">
                    <img src="https://img.shields.io/badge/Linked%20In-0A66C2.svg?style=for-the-badge&logo=linkedin&logoColor=white"/>
                </a>
            </div>
        </div>
    </div>
</section>
