.logo{
    background: #ffffff;
}

@media screen and (max-width: 768px) {

    i,p,a{
        text-decoration: none;
        color: #596D7D;

        font-size: 1rem;
    }

    .abrir-menu{
        visibility: visible;

        font-size: 1.6rem;
    }

    .logo-li{
        color: #1877F2;
        font-size: 1.7rem;
    }

    .ocultar{
        display: none;
    }


    header{
        width: 100%;

        display: grid;
        grid-template-areas: 
        "logo"
        "nav";

        grid-template-rows: 70px 1fr;

        position: fixed;
    }

    .logo{
        grid-area: logo;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px;

        background: #ffffff;
    }

    .nav{
        width: 70%;
        height: 100vh;

        display: grid;
        grid-template-areas: 
        "header-menu"
        "nav-list";

        grid-template-rows: 70px 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
        
        position: absolute;

        transition: .3s all ease;

        margin-left: -100%;
        background: #ffffff;
    }
    
    .visible{
        box-shadow: 11px 12px 150px 13px rgba(0,0,0,.8);
        margin-left: 0;
    }

    .header-menu{
        width: 100%;
        max-height: 100%;

        grid-area: header-menu;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px 30px 20px;
        background: #F0F2F5;

        border-bottom: 2px solid #E4E6E8;
    }

    .header-menu p{
        color: #1877F2;
    }

    .nav-list{
        grid-area: nav-list;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        
        padding: 0px 30px 20px; 
    }

    li{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "icon text";
        gap: 20px;

        grid-template-columns: .3fr 1.7fr;
        align-items: center;

        list-style: none;
    }

    li a{
        height: 100%;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {

    i,p,a{
        text-decoration: none;
        color: #596D7D;

        font-size: 1rem;
    }

    .abrir-menu{
        visibility: hidden;
    }

    .logo-li{
        display: none;
    }

    .ocultar{
        display: none;
    }


    header{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        background: #ffffff;
    }

    .logo{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav{
        height: 100%;

    }
    
    .header-menu{
        display: none;
    }

    .nav-list{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    li{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 8px;

        list-style: none;
        transition: .2s all ease;
    }

    li:hover{
        background: #F0F2F5;
        
    }

    li a{
        height: 100%;
        display: flex;
        align-items: center;
    }
}