<header [ngClass]="{'scroll': scroll}">
  <div class="logo">
    <div class="img-logo">
      <h1>Yonier GM</h1>
    </div>
    <i class="fa-solid fa-bars abrir-menu" [ngClass]="{ 'ocultar': visible}" (click)="menu()"></i>
  </div>

  <nav class="nav" [ngClass]="{ 'visible': visible}">
    <div class="header-menu">
      <P><strong>¡Hola!</strong></P>
      <i class="fa-solid fa-xmark" (click)="menu()"></i>
    </div>
    
    <ul class="nav-list">
      <li>
        <i class="fa-solid fa-house logo-li"></i>
        <a href="#">Home</a>
      </li>
      <li>
        <i class="fa-solid fa-circle-user logo-li"></i>
        <a href="#">Sobre Mi</a>
      </li>
      <li>
        <i class="fa-brands fa-dev logo-li"></i>
        <a href="#">PortFolio</a>
      </li>
      <li>
        <i class="fa-solid fa-envelope logo-li"></i>
        <a href="#">Contact</a>
      </li>
    </ul>

    <div class="complemento">
      <div class="acciones">
        <a href="https://github.com/YonierGM" target="_blank">
            <img src="https://img.shields.io/badge/github-181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="github" />
        </a>

        <a  href="https://www.linkedin.com/in/yonier-garcia-mosquera-8a4a20167/" target="_blank">
            <img src="https://img.shields.io/badge/Linked%20In-0A66C2.svg?style=for-the-badge&logo=linkedin&logoColor=white" alt="example"/>
        </a>
    </div>

    </div>
  </nav>
</header>
