@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&family=Work+Sans:wght@200;300&display=swap');

h1{
    font-family: 'Outfit', sans-serif;

}

p{
    font-family: 'Work Sans', sans-serif;
}

.scroll{
    background: #ffffff;
}

.ocultar{
    display: none;
}

.abrir-menu{
    visibility: hidden;
}

.complemento{
    visibility: hidden;
}

h1{
    font-family: 'Outfit', sans-serif;
}

p, a{
    font-family: 'Work Sans', sans-serif;
}

i,p,a{
    text-decoration: none;
    color: #000000;

    font-size: 1rem;
}

li a{
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

header{
    background: #F0F2F5;
    transition: 1s all ease;
}

.logo-li{
    display: none;
}

@media screen and (max-width: 768px) {

    .abrir-menu{
        visibility: visible;
        font-size: 1.6rem;
    }

    .logo-li{
        color: #1877F2;
        font-size: 1.7rem;
        display: block;
    }

    .complemento{
        visibility: visible;
    }

    header{
        width: 100%;

        display: grid;
        grid-template-areas: 
        "logo"
        "nav";

        grid-template-rows: 70px 1fr;

        position: fixed;
    }

    .logo{
        grid-area: logo;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px;

        background: #ffffff;
    }

    .nav{
        width: 70%;
        height: 100vh;

        display: grid;
        grid-template-areas: 
        "header-menu"
        "nav-list"
        "complemento";

        grid-template-rows: 70px 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
        
        position: absolute;

        transition: .3s all ease;

        margin-left: -100%;
        background: #ffffff;
    }
    
    .visible{
        box-shadow: 11px 12px 150px 13px rgba(0,0,0,.8);
        margin-left: 0;
    }

    .header-menu{
        width: 100%;
        max-height: 100%;

        grid-area: header-menu;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px 30px 20px;
        background: #F0F2F5;

        border-bottom: 2px solid #E4E6E8;
    }

    .header-menu p{
        color: #1877F2;
    }

    .nav-list{
        grid-area: nav-list;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        
        padding: 0px 30px 0px; 
    }

    li{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "icon text";
        gap: 20px;

        grid-template-columns: .3fr 1.7fr;
        align-items: center;

        list-style: none;
    }

    .complemento{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 10px;
    }

    .complemento .acciones{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .acciones a{
        width: 100px;
        height: 25px;
    }

    .acciones a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {

    header{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav{
        height: 100%;
    }
    
    .header-menu{
        display: none;
    }

    .nav-list{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    li{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 8px;

        list-style: none;
        transition: .3s all ease;

        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    li:hover{
        background: #9CC6DC;
    }

    li:hover a{
        color: #ffffff;
    }
}