
<section class="main-content">

    <section class="home">
        <div class="main">

            <div class="about">
                <app-about></app-about>
            </div>

            <div class="proyectos">
                <div class="header">
                    <h1 class="tittle-seccion">Proyectos</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores</p> -->
                </div>
            
                <app-portfolio></app-portfolio>
            </div>
            
            <div class="estudios">
                <div class="header">
                    <h1 class="tittle-seccion">Estudios</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores</p> -->
                </div>
            
                <app-estudios></app-estudios>
            </div>
            <!-- <div class="scroll">
                <img src="./../../../assets/images/scroll-1.png" alt="icon-scroll" title="icon-scroll">
            </div> -->
    
            <div class="contact">
                <div class="header">
                    <h1 class="tittle-seccion">Contacto</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores</p> -->
                </div>
                <app-contact/>
            </div>
        </div>
    </section>
</section>

